# Name identifying the environment.
export CONFIG=barnard

# Required software.
module load \
	development/24.04 \
	GCC/13.2.0 \
	gperf/3.1 \
	libpng/1.6.40 \
	OpenMPI/4.1.6 \
	;

# Build directory (development build).
export BUILD=/data/horse/ws/pahe121b-deep-icet/build/barnard/gcc/dev

# Circumvent MPI permission issues, see https://github.com/easybuilders/easybuild-easyconfigs/issues/20233#issuecomment-2023410182.
export OMPI_MCA_btl='^uct,ofi'
export OMPI_MCA_pml='ucx'
export OMPI_MCA_mtl='^ofi'

